<html>
  <head>
    <title>
      title
    </title>
  </head>
  <body>

    <div>
      <h1>
        <a href="/">
          jjjjjjjjj
        </a>
      </h1>
    </div>

    <div>
      <p>
        published: aaaaaaa
      </p>
      <h2>
        <a href="">
          My first web
        </a>
      </h2>
      <p>
        ああああああ
      </p>
    </div>

    <div>
      <p>
        公開日：aaaaaaa
      </p>
      <h2>
        <a href="">
          2nd post
        </a>
      </h2>
      <p>
        こんにちは
      </p>
    </div>
  </body>
</html>
